{% extends "base.html" %}
{% block title %}Add Event{% endblock %}
{% block main %}
<div class="container-fluid">
  <form action="/events/add" method="POST">
    {{ form.csrf_token }}
      <h3>New Event</h3>

      <div class="form-group">
        <label for="teacher">Teacher</label>
        {{ form.teacher(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="event">Course</label>
        {{ form.course(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="tree">Tree Location</label>
        {{ form.tree(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="course_date">Date</label>
          {{ form.course_date(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>

      <div class="col">
        {{ form.submit(class="btn btn-primary", value="Create Event") }}
      </div>
  </form>
</div>
{% endblock %}
