.events .tile-event {
    /* height: 400px; */
    margin-bottom: 10px;
    padding-bottom: 2em;
    border: solid 1px #ebebeb;

}
  
.tile {
    text-align: center;
    padding: 15px 25px 25px;
    /* height: 350px; */
    margin-bottom: 3em;
    padding-bottom: 2em;

    }

.button_side_by_side {
    padding: 5px;
}


.content {
    max-width: 1000px;
    margin: auto;
  }


img {
    max-width: 100%;
    height: auto;
}

.avatar {
    padding: 2em;
}

.auth-state {
    text-emphasis-color: green;
    color: blueviolet;
    background-color: aliceblue;
}

.bg-custom-1 {
    background: linear-gradient(to bottom, #daf8ea 0%, #ffffff 100%);
}

.bg-custom-2 {
    background: linear-gradient(to bottom, #fefbd8 0%, #ffffff 100%);
}

.bg-custom-3 {
    background: linear-gradient(to bottom, #daf8ea 0%, #ffffff 100%);
}

.bg-custom-4 {
    background: linear-gradient(to bottom, #f1c224 0%, #ffffff 100%);
}

.container-padding {
    margin: .25rem .25rem .1rem .25rem;
  }

.container-padding2 {
    margin: .5rem .3rem .1rem .3rem;
  }

.footer-text {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
