.events .tile-event {
    height: 400px;
    margin-bottom: 10px;
    padding-bottom: 2em;
    border: solid 1px #ebebeb;

}
  
.tile {
    text-align: center;
    padding: 15px 25px 25px;
    height: 350px;
    margin-bottom: 3px;
    padding-bottom: 2em;

    }

.button_side_by_side {
    padding: 5px;
}