{% extends "base.html" %}
{% block title %}Squirrel Yoga | ['GET'] Courses{% endblock %}

{% block main %}
<h2>Squirrel Yoga Courses </h2>
  {% for course in courses %}
    <div class="card">
      <div class="card-body">
        <h3>{{ course.name }} </h3>
        <h5>Teachers</h5>
        {% for teacher in course.course_teachers %}
        <a href="/teachers/{{ teacher.teacher_id }}">
            <h6>{{ teacher.teacher_name }}</h6>
          </a>
        {% endfor %}
        <p>Experience Level - {{ course.course_level}}</p>

        
        </div>
    </div>
  {% endfor %}
{% endblock %}