{% extends "base.html" %}
{% block title %}Squirrel Yoga | ['GET'] Courses{% endblock %}

{% block main %}
<h2>Squirrel Yoga Courses </h2>
<p>
<form action="{{url_for('retrieve_new_course_form') }}" method="GET">
  <input type="submit" value="Add a new course" class="btn btn-primary">
</form>
</p>
<div class="card bg-custom-1 container-padding">
{% for course in courses %}
<div class="card container-padding">
  <div class="card-body tile container-padding">
    <a href="/courses/{{ course.course_id }}">

      <h3>{{ course.course_name }} </h3>
    </a>
    <p><strong>Experience Level</strong> - {{ course.course_level}}</p>
    <h5>Teachers</h5>
      {% for teacher in course.course_teachers %}
      <a href="/teachers/{{ teacher.teacher_id }}">
        <span>{{ teacher.teacher_name }} </span>
      </a> : {{ teacher.course_date.strftime('%a, %b %e, %Y, %I:%M %p') }}<br/>
    {% endfor %}
    {% if course.course_teachers|length == 0 %}
    <p>Sadly, no teacher is currently offering this amazing class.</p>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}